{
	default_sni {$PUBLIC_DOMAIN}
}

https://{$PUBLIC_DOMAIN} {
	tls /etc/letsencrypt/live/{$PUBLIC_DOMAIN}/fullchain.pem /etc/letsencrypt/live/{$PUBLIC_DOMAIN}/privkey.pem

	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy business-api:8000 {
		transport http {
			dial_timeout 5s
			response_header_timeout 120s
		}
	}
}
